@import "tailwindcss";
@plugin "daisyui";
@utility hero-image {
  background:
    url("/hero-leaf1.png"),
    url("/hero-leaf2.png"),
    #cff0dc;
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: contain;
}

@utility scrollbar-none {
  
  scrollbar-width: none;
}

html{
  scroll-behavior: smooth;
}
